*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body,html{
    background-color: #000;
    color: #fff;
    font-family: "poppins", sans-serif;
}
body::-webkit-scrollbar{
    background-color: red;
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: #6d6d6de6;
    width: 10px;
}